/* .pest-title{
    font-weight: var(--font-weight-bold);
    font-size: var(--header1);
    color: var(--dark-brown);
    line-height:  74px;
    padding-top: 1%;
}
.pest-image{
    width: 400px;
    height: 300px;
} */

.pest-title{
    font-weight: var(--font-weight-bold);
    font-size: var(--header1);
    color: var(--dark-brown);
    line-height:  74px;
    padding-top: 1%;
}

.pest-content-left{
    float: left;
    padding-left: 5%;
}
.pest-content-right{
    float: right;
    padding-right: 5%;
}
 .pest-text{
    font-weight: var(--font-weight-regular);
    font-size: var(--text-regular);
    color: var(--gray-1);
    line-height:  31px;
    padding-top: 4%;
    text-align: justify;
}
 .pest-image{
    width: 100%;
    height: 300px;
    /* display: flex;
    justify-content: center; */
}
.pest-varieties .pest-sub-title{
    font-weight: var(--font-weight-bold);
    font-size: var(--header4);
    color: var(--primary-light);
    line-height:  74px;
    padding-top: 1%;
}
.pest-varieties .pest-sub-content ul{
    font-size: var(--text-medium);
    color: black;
    font-weight: var(--font-weight-semi-bold);
    
}
.pest-subtopic{
    font-weight: var(--font-weight-bold);
    font-size: var(--header4);
    color: var(--dark-brown);
    line-height:  74px;
}
/* .pest-right-title{
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--header2);
    color: var(--primary-light);
}
.pest-right-subtitle {
    font-weight: var(--font-weight-medium);
    font-size: var(--header4);
    color: var(--gray-1);
    padding-top: 1%;
    padding-bottom: 5%;
} */
.collapse{
    padding-bottom: 2%;
}

.card-body{
    font-weight: var(--font-weight-medium);
    font-size: var(--text-regular);
    color: var(--gray-1);
    padding-top: 1%;
}
.special-word{
    font-style: italic;
}
.pest-subtitle {
    font-weight: var(--font-weight-medium);
    font-size: var(--text-medium);
    padding-bottom: 5px;
    color: var(--gray-1);
    list-style: none;
}